.movies-card {
  width: 100%;
  min-height: 319px;
  background-color: #202331;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  max-width: 360px;
}

.movies-card__title-line-container {
  display: flex;
  justify-content: space-between;
  margin: 18px;
}

.movies-card__title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  color: #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 220px;
}

.movies-card__duration {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.38;
  text-align: right;
  color: #8B8B8B;
  white-space: nowrap;
}

.movies-card__image {
  width: 100%;
  object-position: center;
  object-fit: cover;
  height: 200px;
}

.movies-card__save-button {
  width: 100px;
  height: 29px;
  background-color: #3f4046;
  border-radius: 30px;
  border: 0;
  margin: 18px auto 10px;
  transition: opacity 0.3s ease;
  font-weight: 500;
  font-size: 12px;
  line-height: 0.92;
  color: #FFFFFF;
}

.movies-card__save-button_saved {
  background-color: #EE3465;
  background-image: url('../../images/card_button_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.movies-card__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.movies-card__save-button_delete {
  background-color: #313131;
  background-image: url('../../images/delete_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 450px) {
  .movies-card__title {
    font-size: 12px;
    line-height: 1.5;
  }

  .movies-card__duration {
    font-size: 10px;
    line-height: 1.8;
  }

  .movies-card {
    min-height: 271px;
  }

  .movies-card__title-line-container {
    margin: 14px;
  }

  .movies-card__save-button {
    margin: 10px auto 10px;
  }
}