.promo {
  width: 100%;
  min-height: 800px;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  grid-template-rows: 1.5fr 1fr;
  grid-gap: 2px;
  grid-gap: 4px;
  background-color: #000000;
}

/* .promo__card {
  min-height: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.promo__card_main {
  grid-row-start: 1;
  grid-row-end: 3;
}
*/

.promo__content-container {
  position: absolute;
  z-index: 1;
}

.promo__card {
  position: relative;
  min-height: 100px;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  color: #ffffff;
  transition: background-size 0.5s ease-in 0s;
}

.promo__card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0;
  transition: opacity 0.2s ease-in 0s;
}

.promo__card:hover {
  background-size: auto 105%;
}

.promo__card:hover::after {
  opacity: 0.2;
}

.promo__card_main {
  grid-row-start: 1;
  grid-row-end: 3;
  background-size: 100% auto;
}

.promo__card_main:hover {
  background-size: 105% auto;
}

.promo__card_top-right {
  grid-column-start: 2;
  grid-column-end: 4;
}

.promo__card-title_main {
  margin: 400px 40px 0 40px;
  font-size: 70px;
  line-height: 1.2;
  text-shadow: 0 0 20px #000000;
}

.promo__card-title_top-right {
  margin: 260px 30px 0 30px;
  font-size: 40px;
  line-height: 1.2;
  text-shadow: 0 0 20px #000000;
}

.promo__card-title_small {
  margin: 0 30px;
  font-size: 40px;
  line-height: 1.2;
  text-shadow: 0 0 20px #000000;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}

.promo__card-text {
  margin: 20px 40px 0 40px;
  font-size: 20px;
  line-height: 1.2;
  text-shadow: 2px 2px 4px #000000, 0 0 10px #000000;
  max-height: 150px;
  overflow: hidden;
}

.promo__card-more-button {
  margin: 20px 40px 0 40px;
  width: 150px;
  height: 50px;
  font-size: 20px;
  line-height: 1.2;
  border-radius: 10px;
  background-color: transparent;
  color: #ffffff;
  border: 1px #ffffff solid;
}

.promo__card-more-button_top-right {
  margin: 20px 30px 0 30px;
}

.promo__card-more-button:hover {
  color: #000000;
  background-color: #ffffff;
}