.promo {
  width: 100%;
  max-height: 800px;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  grid-template-rows: 1.5fr 1fr;
  grid-gap: 2px;
  grid-gap: 4px;
  background-color: #000000;
  max-width: 100%;
}

.promo__logo {
  position: absolute;
  top: 40px;
  margin: 0 40px;
  z-index: 2;
  display: block;
  background-image: url('../../images/logo.png');
  background-size: cover;
  width: 150px;
  height: 75px;
}

.promo__content-container {
  position: absolute;
  z-index: 1;
  left: 50px;
  right: 50px;
  bottom: 30px;
}

.promo__content-container_main {
  left: 40px;
  right: 40px;
  bottom: 50px;
}

.promo__card {
  position: relative;
  min-height: 100px;
  color: #ffffff;
  overflow: hidden;
}

.promo__card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0;
  transition: opacity 0.2s ease-in 0s;
}

.promo__card:hover {
  background-size: auto 105%;
}

.promo__card:hover::after {
  opacity: 0.2;
}

.promo__card_main {
  grid-row-start: 1;
  grid-row-end: 3;
}

.promo__card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in 0s;
}

.promo__card:hover .promo__card-image {
  transform: scale(1.1);
}

.promo__card_top-right {
  grid-column-start: 2;
  grid-column-end: 4;
}

.promo__card-title_main {
  font-size: 70px;
  line-height: 1.2;
  text-shadow: 0 0 20px #000000;
}

.promo__card-title_top-right {
  font-size: 40px;
  line-height: 1.2;
  text-shadow: 0 0 20px #000000;
}

.promo__card-title_small {
  margin: 0;
  font-size: 40px;
  line-height: 1.2;
  text-shadow: 0 0 20px #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
}

.promo__card-text {
  margin: 20px 0 0;
  font-size: 20px;
  line-height: 1.2;
  text-shadow: 2px 2px 4px #000000, 0 0 10px #000000;
  max-height: 400px;
  overflow: hidden;
}

.promo__card-more-button {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 20px 0 0;
  width: 150px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  border-radius: 10px;
  background-color: transparent;
  color: #ffffff;
  border: 1px #ffffff solid;
}

.promo__card-more-button:hover {
  color: #000000;
  background-color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .promo__card-title_main {
    margin: 0;
    font-size: 50px;
  }

  .promo__card-title_top-right {
    margin: 0;
    font-size: 35px;
  }

  .promo__card-title_small {
    font-size: 25px;
  }
}

@media screen and (max-width: 860px) {
  .promo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 4fr;
  }

  .promo__logo {
    position: static;
    margin: auto;
  }

  .promo__card {
    background-size: 100% auto;
  }

  .promo__card:hover {
    background-size: 105% auto;
  }

  .promo__card_main {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .promo__card_top-right {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .promo__card_small {
    display: none;
  }

  .promo__card-title_main {
    font-size: 50px;
  }

  .promo__card-title_top-right {
    font-size: 50px;
  }

  .promo__card-text {
    display: none;
  }
}