.search-form {
  min-height: 228px;
  background-color: #252B42;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 154px 70px 10px;
  box-sizing: border-box;
}

.search-form__input-line-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-form__input {
  width: 100%;
  min-height: 48px;
  background: #FFFFFF;
  border: none;
  border-radius: 48px;
  color: #000000;
  padding-left: 22px;
  font-family: inherit;
}

.search-form__input:focus {
  outline: none;
}

.search-form__button {
  min-width: 70px;
  height: 44px;
  margin-left: 10px;
  border-radius: 20px;
  background-color: #4285F4;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  border: 0;
  transition: opacity 0.3s ease;
}

.search-form__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.search-form__checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.search-form__checkbox-label {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.search-form__checkbox-invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.search-form__checkbox-visible {
  display: block;
  width: 34px;
  height: 14px;
  background-color: #343434;
  border-radius: 20px;
  margin-right: 12px;
}

.search-form__checkbox-circle {
  width: 10px;
  height: 10px;
  background-color: #A0A0A0;
  border-radius: 5px;
  position: relative;
  top: 2px;
  left: 2px;
  transition: left 0.3s ease;
}

.search-form__checkbox-invisible:checked + .search-form__checkbox-visible {
  background-color: #3DDC84;
}

.search-form__checkbox-invisible:checked + .search-form__checkbox-visible .search-form__checkbox-circle {
  left: 22px;
  background-color: #ffffff;
}

.search-form__line {
  border-top: 1px solid #424242;
  width: 100%;
  margin-top: 40px;
}

@media screen and (max-width: 780px) {
  .search-form {
    padding: 80px 30px 10px;
  }

  .search-form__input {
    font-size: 14px;
    line-height: 1.28;
  }
}

@media screen and (max-width: 780px) {
  .search-form {
    padding: 80px 14px 10px;
  }

  .search-form__input {
    font-size: 12px;
    line-height: 1.5;
    min-height: 44px;
    padding-left: 15px;
  }

  .search-form__checkbox-label {
    margin-top: 45px;
    font-size: 11px;
    line-height: 1.63;
  }
}